<div id="bg"></div>

<div id="header"></div>

<p id="text">Powered by Vodafone</p>

<img src="../../assets/home/logo.png" alt="JUTH logo" id="img">

<!-- <button id="round" (click)="activate()">
  G
</button> -->

<img src="../../assets/home/gigamarket_icon.png" alt="" id="round" (click)="activate()">

<div id="preview" class="exit" (click)="goMarket()">
  <div class="head-text"><div class="giga">GIGA</div> <div class="market">Market</div></div>
  <div class="coin-balance"><button>v</button><div class="coin-text">2078</div></div>
</div>